.main_cnt {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box_non_center {
  flex: 3;
  display: flex;
  justify-content: center;
}

.date {
  margin: 8px;
  text-align: center;
  font-family: "Arial", serif;
  font-size: 1.7em;
  color: aliceblue;
}


@media screen and (max-height: 800px) {
  .date {
    margin-top: 10px;
  }
}

.date_light{
  color: #5a5d7d;
  font-weight: bold;
}

.date_dark{
  color: white;
}

