.content_box {
    box-sizing: border-box;
    height: 100%;
    padding: 0 10px 67px 10px;
    position: relative;
    transition: padding-bottom 0.5s ease-out;
}


.content_fullscreen{
    padding: 0 10px 0 10px;
}

.content_dark {
    background-color: #202124;
}

.content_light {
    background: #ffffff;
}