@keyframes slideTopCenter {
    0% {
        transform: translateY(-50%);
    }

    100% {
        transform: translateY(0);
    }
}

.number {
    width: 33px;
    height: 66px;
    text-align: center;
    line-height: 80px;
}

.cell_animation_number {
    width: 33px;
    height: 66px;
    text-align: center;
    line-height: 80px;
}

.cnt_time {
    display: flex;
    justify-content: center;
    width: 80px;
    height: 80px;
    background: white;
    border-radius: 19px;
    font-size: 58px;
    font-family: sans-serif;
    margin-left: 1px;
    margin-right: 1px;
    overflow: hidden;
}

.number_animation_top {
    height: 132px;
    animation-name: slideTopCenter;
    animation-duration: 700ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.cnt_time_dark {
    background: white;
}

.cnt_time_light {
    background: #005683;
}

.cnt_time_light .number, .cnt_time_light .cell_animation_number {
    color: white;
}

.cnt_time_dark .number, .cnt_time_dark .cell_animation_number {
    color: black;
}

