.main_cnt {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.box {
    flex: 1;
    display: flex;
    justify-content: center;
}

.box_non_center {
    flex: 3;
    display: flex;
    justify-content: center;
}

.box_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_down button {
    margin: 8px;
}

@media screen and (max-height: 800px) {
    .box_down {
        margin-top: 10px;
    }
}
