.main_cnt_watch {
    display: flex;
    justify-content: center;
    width: 100%;
}

.delimiter {
    display: flex;
    justify-content: center;
    font-family: ui-serif;
    font-size: 45px;
    align-items: center;
    color: #000000;
}
